/*  CURRENTLY W42 C OVERWRITE - JuanMa - 11.19.18 */

/* W40D OVERWRITE LARGE PLUS 1
.large-square-plus-one-content-block__text:before{
  display: none;
}
div.large-square-plus-one-content-block__container--small-image{
  display: block;
}
END W40D OVERWRITE */


/* W42 OVERWRITE DISCLAIMER */
div.rich-text-content-block{
  width: 86%;
}
div.rich-text-content-block p{
  font-size: 0.5rem;
}
/* END W42 OVERWRITE DISCLAIMER */

/* CTA W42 OVERWRITE */
.page-layout div:nth-of-type(5) .jm-multipleCTA-space2 > a:nth-of-type(2){
  max-width: 183px;    
}
.page-layout div:nth-of-type(5) .content-block-content--bottom{
  padding-bottom: 2.5%;
}
/* END CTA W42 OVERWRITE */


/* GLOBAL BANNER
section.branded-card-header.branded-card-header--active, div.jm-branded-card-header--active-hide, div.branded-card-header--active,
.jm-split-special-plcc-banner,
.jm-split-special-plcc-banner-mobile{
  display:none !important;
}
END GLOBAL BANNER */


section.branded-card-header.branded-card-header--active{
    position: static;
    z-index: 1;
    bottom:initial;
    opacity:1;
}
#ju_Con_289720{
  display:none!important;
}


section.branded-card-header{
  display:block !important;
}
/* W45D Home Page Banner
.jm-divider{
font-family: BauerBodoniBT, Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align: center;
    font-style: italic;
    font-size: 11vw;
    line-height: 1;
    margin: 12% 0 0;
    font-weight: normal;
    letter-spacing: 0.03em;
}

.jm-divider-main-header{
font-size: 11vw;
    line-height: 0.55;
    margin: 3% 0 0;
}
.jm-divider-subcopy{
    text-align: center;
font-size: 3vw;
    margin: 0 0 1em;
}
END W45D Home Page Banner*/

 /*HIDE PLCC HEADER 
.branded-card-header{
  opacity:0;
  height:0;
  padding: 0 !important;
}
section.branded-card-header--active{
display:block !important;
}
 END HIDE PLCC HEADER */


/* HOME PAGE TOP BANNER */
.jm-home-page-header{
  background: #000000;
  text-align: center;
  padding: 1% 0;
  position: relative;
}
.jm-home-page-header h3{
  color: white;
  margin: 0;
  font-size: 1.7em;
  letter-spacing: 0.02em;
  font-weight: lighter;
}
.jm-home-page-header h3  > b{
  font-weight: normal;
}
.jm-home-page-header p{
  color: white;
  margin: 0;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.jm-home-page-header a{
  color: white !important;
  border-color: white !important;
}
/* END HOME PAGE TOP BANNER */


@media screen and (min-width: 700px){
/*.content-block-content--center {
    width: 90% !important;
}*/
.page-content{
background:#F6F5F5;
}
div.hero-content-block .content-block-content--right {
/*    left: 50% !important; */
    left: 40% !important;
}
div.hero-content-block .content-block-content--left {
/*    right: 50% !important; */
    right: 40% !important;
}
.grid__cell, .grid--2-at-medium>.grid__cell, .grid--2-at-medium>.grid__cell+.grid__cell{
margin-bottom: 0 !important;
}
.content-block-content--center .content-block-content__container--center .content-block-content__action--button {
margin: 2.5% 0 0;
}
.jm-special-header-1 a{
display:initial !important;
}
.jm-divider{
    font-size: 6em;
    margin: 7% 0 0;
}

.jm-divider-main-header{
font-size: 10vw;
    margin: 3% 0 0;
}
.jm-divider-subcopy{
    font-size: 1.7vw;
}
p.jm-HPH-fine-print{
  position: absolute;
  bottom: 8%;
  right: 1%;
  font-size: 0.9em;
  letter-spacing: 0;
}

}

@media screen and (min-width: 1280px){
.jm-divider-main-header{
font-size: 10em;
}
.jm-divider-subcopy{
    font-size: 1.7em;
}

}

@media (max-width:700px) {
/* HOME PAGE TOP BANNER */
.jm-home-page-header{
  position: absolute;
  top: 0;
  right: 0;
  width: 79%;
  font-size: 1.5vw;
  padding: 0.5vw 0;
  z-index: 33;
}
.jm-home-page-header h3{
  font-size: 10px;
  letter-spacing: 0.1em;
}
.jm-home-page-header a.jm-mobile-HPheader-cta{
  font-size: 8px !important;
}
.jm-home-page-header p.jm-mobile-HPheader-l1{
  font-size: 10px;
}
/* END HOME PAGE TOP BANNER */

/* W40D OVERWRITE LARGE PLUS 1 
div.large-square-plus-one-content-block__container--large-image{
    padding-bottom: 27%;
}
 END W40D OVERWRITE LARGE PLUS 1 */

/* CTA W42 OVERWRITE */
div.large-square-plus-one-content-block__container--large-image .content-block-content__action--button a{
  color: white;
}
div.large-square-plus-one-content-block__container--large-image .content-block-content__action--button a:hover{
  background:black;
}
.page-layout div:nth-of-type(5) .content-block-content__container{
  padding-bottom: 2.5%;
  background: #b50024;
}
div.large-square-plus-one-content-block__container--large-image{
   padding-bottom: 18%;
}
/* END CTA W42 OVERWRITE */

/* W42 OVERWRITE DISCLAIMER */
div.rich-text-content-block{
    max-height: 333px;
    overflow: auto;  
}

/* END W42 OVERWRITE DISCLAIMER */

}
