<!-- jrios@c21stores.com -->
<!-- 
FOR TYPE_CTA
"1" = dark
"2" = light
"3" = solid white
 --> 
<script>

IMAGE1 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMjQvMDQvNzU5LzAxXzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/01_07Week3d_HP_ThreeBlock.jpg?sha=28edfc43bedc0be7';
SHOW_mobile1 = "0";
CTA1 = "SHOP NOW1";
URL1 = "https://www.c21stores.com/"
SHOW_CTA1 = "YES";
TYPE_CTA1 = "2";


IMAGE2 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMjcvNDMvNDYxLzAyXzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/02_07Week3d_HP_ThreeBlock.jpg?sha=c11b91cd3077e733';
SHOW_mobile2 = "3";
CTA2 = "SHOP NOW2";
URL2 = "#2"
SHOW_CTA2 = "Yes";
TYPE_CTA2 = "3";

IMAGE3 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMjUvNDgvNjAzLzAzXzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/03_07Week3d_HP_ThreeBlock.jpg?sha=b9a4a166662a6c6a';
SHOW_mobile3 = "0";
CTA3 = "SHOP NOW3";
URL3 = "#3"
SHOW_CTA3 = "Yes";
TYPE_CTA3 = "1";


IMAGE4 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMjgvNTEvODg4LzA0XzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/04_07Week3d_HP_ThreeBlock.jpg?sha=648a2f3d875b53a4';
SHOW_mobile4 = "2";
CTA4 = "SHOP NOW4";
URL4 = "#4"
SHOW_CTA4 = "Yes";
TYPE_CTA4 = "1";


IMAGE5 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMzAvNDgvNzQ2LzA1XzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/05_07Week3d_HP_ThreeBlock.jpg?sha=85be65b66b96b16d';
SHOW_mobile5 = "0";
CTA5 = "SHOP NOW5";
URL5 = "#5"
SHOW_CTA5 = "No";
TYPE_CTA5 = "1";


IMAGE6 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMjQvMDQvNzU5LzAxXzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/01_07Week3d_HP_ThreeBlock.jpg?sha=28edfc43bedc0be7';
SHOW_mobile6 = "0";
CTA6 = "SHOP NOW6";
URL6 = "#6"
SHOW_CTA6 = "Yes";
TYPE_CTA6 = "1";


IMAGE7 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMzEvNTIvODMvMDdfMDdXZWVrM2RfSFBfVGhyZWVCbG9jay5qcGciXV0/07_07Week3d_HP_ThreeBlock.jpg?sha=92eb1840869ff8c8';
SHOW_mobile7 = "0";
CTA7 = "SHOP NOW7";
URL7 = "#7"
SHOW_CTA7 = "YES";
TYPE_CTA7 = "1";


IMAGE8 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMzQvMDEvNzk1LzA4XzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/08_07Week3d_HP_ThreeBlock.jpg?sha=dee0dc5a2b064d8f';
SHOW_mobile8 = "0";
CTA8 = "SHOP NOW8";
URL8 = "#8"
SHOW_CTA8 = "Yes";
TYPE_CTA8 = "1";


IMAGE9 = 'https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDcvMTEvMDkvMzIvNTMvMzgxLzA5XzA3V2VlazNkX0hQX1RocmVlQmxvY2suanBnIl1d/09_07Week3d_HP_ThreeBlock.jpg?sha=92e1fc29cdacc95b';
SHOW_mobile9 = "0";
CTA9 = "SHOP NOW9";
URL9 = "#9"
SHOW_CTA9 = "YeS";
TYPE_CTA9 = "1";


</script>





<style>

.jmrv-hp9 figure{
    padding-top: calc((1254% / 836) * 100);
	width: 100%;
    margin: 0 0 6%;
	position:relative;
   	background-repeat : no-repeat !important;
    background-size : contain !important;
    width:100%;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;    
}
.jmrv-hp9 figcaption{
    bottom: 5%;
    padding: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
}
.button--alt-solidWhite{
    background: white;
    color: black;
    border-color: white !important;	
}

@media (min-width:700px) {

.jmrv-hp9{
	overflow:auto;
}
.jmrv-hp9 figure{
    padding-top: calc((1254% / 836) * 32);
	width: 100%;
	position:relative;
   	background-repeat : no-repeat !important;
    background-size : contain !important;
    width:32%;
	margin:0 0 1% 1%;
	float:left;  
}
.jmrv-hp9 figcaption{
    bottom: 5%;
    padding: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
}


}

@media (max-width:700px) {
.jmrv-mobileONLY figure{
	display:block !important;
}
}
</style>

<div class="jmrv-hp9" ng-app="jmrv-hp9" ng-controller="HP9controller">

	<div class="jmrv-mobile jmrv-mobileONLY">
		<figure ng-repeat="data in myDirectiveDataMOB" ng-style="imagesMOB[$index]" ng-class="class[$index]">
			<figcaption my-directive data="data"></figcaption>
		</figure>
	</div>

	<figure ng-repeat="data in myDirectiveData" ng-style="images[$index]" ng-class="class[$index]">
		<figcaption my-directive data="data"></figcaption>
	</figure>
	
</div>

<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async src ="https://www.c21stores.com/media/W1siZiIsIjIwMTYvMDgvMTAvMTIvMzkvMzEvNjA2L0hQOV9hbmd1bGFyLmpzIl1d/HP9_angular.js?sha=0cf1f27d8f894504"></script>
